<main>
    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
        <div class="row">
            <div class="col-md-3">
                
                <h2>User info</h2>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>name</th>
                            <th><%= @book.user.name %></th>
                        </tr>
                        <tr>
                            <th>introduction</th>
                            <th><%= @book.user.introduction %></th>
                        </tr>
                    </tbody>
                </table>
            
                <div class="row">
                    <%= link_to edit_user_path(@book.user.id), class:"btn btn-outline-secondary btn-block" do  %>
                        <i class="fas fa-user-cog fa-w-18"></i>
                    <% end %>
                </div>
                
             <%= render 'layouts/new_book', book: @new_book %>
                
            </div>
            
            <div class="col-md-8 offset-md-1">
                <h2>Book detail</h2>
                <table class="table table-hover table-inverse">
                    <tbody>
                        <tr>
                         <td>
                            <%= link_to user_path(@book.user.id) do %>
                             <%= image_tag @book.user.get_profile_image(100,100) %></br>
                              <%= @book.user.name %>
                            <% end %>
                         </td>
                         <td><%= @book.title %></td>
                         <td><%= @book.body %></td>
                         <% if @book.user_id == current_user.id %>
                         <td>
                                <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
                         </td>
                         <td>
                                <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "本当に消しますか？"} %>
                         </td>
                         <% end %>
                        </tr>
                    </tbody>
                </table>
                
            </div>
</main>
